<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="duplicationSql">
<select id="idcheck" parameterType="string" resultType="string">
	select emp_id from employees where emp_id = #{userId} 
	union 
	select member_id from members where member_id = #{userId}
</select>

<select id="emailcheck" parameterType="string" resultType="string">
	select emp_email from employees where emp_email = #{userEmail} 
	union 
	select member_email from members where member_email = #{userEmail}
</select>
</mapper>